<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Acceptic\TestRest\Api\Data\ShopperInterface"
                type="Acceptic\TestRest\Model\Shopper" />
    <preference for="Acceptic\TestRest\Api\ShopperRepositoryInterface"
                type="Acceptic\TestRest\Model\ShopperRepository" />
    <preference for="Acceptic\TestRest\Api\ShopperManagementInterface"
                type="Acceptic\TestRest\Model\Api\ShopperManagement" />
    <preference for="Acceptic\TestRest\Api\Data\OrderInterface"
                type="Acceptic\TestRest\Model\Order" />
    <preference for="Acceptic\TestRest\Api\OrderRepositoryInterface"
                type="Acceptic\TestRest\Model\OrderRepository" />
    <preference for="Acceptic\TestRest\Api\OrderManagementInterface"
                type="Acceptic\TestRest\Model\Api\OrderManagement" />


    <type name="Acceptic\TestRest\Model\ResourceModel\Order\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">acceptic_order</argument>
            <argument name="eventPrefix" xsi:type="string">ac_or_records_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">ac_or_grid_records_collection</argument>
            <argument name="resourceModel" xsi:type="string">Acceptic\TestRest\Model\ResourceModel\Order</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="acceptic_order_listing_data_source" xsi:type="string">Acceptic\TestRest\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>